.product {
    display: inline-block;
    width: 320px;
    height: 245px;
    vertical-align: text-top;
    position: relative;
}

.hide {
    display: none;
}

.product button {
    position: absolute;
    bottom: 0;
}

.product img {
    position: absolute;
}